node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
*.tgz
.yarn-integrity
.env
.env.*
.DS_Store
coverage/
.nyc_output/
dist/
tmp/
rust/target/**
tasks/lessons.md
tasks/todo.md
